<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCSliderViewControllerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FFC30EF1CBCE632003E8B18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FFC31081CBCE633003E8B18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FFC31131CBCE633003E8B18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
